doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    script(src="/assets/js/bootstrap.min.js")
  body
    block content
